SEPOLIA_RPC_URL="YOUR_SEPOLIA_RPC_URL"
MAIN_NET_RPC_URL="MAIN_NET_RPC_URL"
ETHERSCAN_API_KEY="YOUR_ETHERSCAN_API_KEY"
ACCOUNT=default
PRIVATE_KEY_usedForInteraction="YOUR_PRIVATE_KEY_usedForInteraction"
